@tailwind base;
@tailwind components;
@tailwind utilities;

#elon{
  width: 30vw;
  height: auto;
  animation: rotate 2s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}